.header-content{
    margin:10px;
    padding: 10px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border:0px solid grey;
}
.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    border:0px solid grey;
    width: 80%;
}
.emp-text{
    text-align: left;
    font: normal normal bold 22px/25px Montserrat;
    color: #82A70C;
    font-family:sans-serif;
    text-transform: capitalize;
}
.emp-payroll{ color:#42515F; }

*{box-sizing: border-box;}

.form-content{
    /* margin-left: 450px;
    margin-right: 450px; */
    background-color:#F7F7F7 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    background-color: white;
    margin-top: 20px;
    width:65%;
    padding: 30px 60px;
    box-shadow:0px 3px 6px grey;
    border:1px solid lightgrey;
    border-radius: 4px;
    opacity:1;
}
.form-head{
    color: #42515F;
    font: normal normal bold 25px/37px Roboto;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 20px;
}
.row-content{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items:center;
}
.label{ min-width: 140px;}
.text{
    font-size: 18px;
    color:#42515f;
    opacity:1;
    font-family:Roboto;
}
label{
    padding: 12px 12px 12px 0;
    display:inline-block;
}
.input{
    width:70%;
    padding:12px;
    border:1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.profile-radio-content{
    display:flex;
    flex-direction:row;
    border: 0px solid black;
}
.profile-radio-content > label{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid black;
}
.profile{
    width:40px;
    border-radius: 50%;
    margin-left:12px;
}
select{
    margin-left:10px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    resize:vertical;
    letter-spacing: 1px;
    color:#42515f;
    background: transparent;
}
